// variables
$primary: rgb(131, 31, 31);
$secondary: rgb(156, 156, 156);
$light: rgb(255, 255, 255);

// map: using key: value pairs
$colors: (
  primary: rgb(131, 31, 31),
  secondary: rgb(156, 156, 156),
  light: rgb(255, 255, 255),
);

// extend
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mixin - like function -> to be reused
@mixin padding($padding-y, $padding-x) {
  padding: $padding-y $padding-x;
}

// mixin for media queries
// variables - breakpoints
$tablet: 768px;
$desktop: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(240, 240, 240);
}

.container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 200px repeat(4, 350px);

  @include tablet {
    max-width: 720px;
    margin: 2rem auto 0 auto;
  }

  @include desktop {
    max-width: 992px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-template-areas:
      "header description"
      "section1 profile"
      "background-img section2";
  }
}

.header {
  background-color: map-get($colors, primary);
  @extend %flex-centered;

  &__title {
    color: $light;
    font-size: 4em;
    font-weight: 400;
  }

  @include desktop {
    grid-area: header;
  }
}

.description {
  @extend %flex-centered;
  @include padding(1rem, 3rem);

  &__quote {
    font-style: italic;
    font-size: 1.5rem;
    color: $secondary;
  }

  @include desktop {
    grid-area: description;
  }
}

.profile {
  background-color: $primary;
  @extend %flex-centered;
  flex-direction: column;
  @include padding(1rem, 3rem);

  &__img {
    border-radius: 50%;
  }

  &__description {
    color: $light;
    line-height: 1.5;
    font-weight: 300;
  }

  @include desktop {
    grid-area: profile;
  }
}

.section {
  @include padding(1rem, 3rem);
  background-color: $light;

  &__title {
    font-size: 2rem;
    font-weight: 400;
  }

  &__description {
    color: $secondary;
    font-size: 1.2rem;
  }

  &__title--primary {
    color: $primary;
  }

  &__title--secondary {
    color: $secondary;
  }

  .button-align {
    text-align: center;
  }

  &__btn {
    margin-top: 2rem;
    @include padding(0.8rem, 2.5rem);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  .btn--primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: $light;

    &:hover {
      background-color: $light;
      color: $primary;
    }
  }

  &__one {
    @include desktop {
      grid-area: section1;
    }
    .button-align {
      @include desktop {
        text-align: right;
      }
    }
  }

  &__two {
    @include desktop {
      grid-area: section2;
    }
  }
}
.background {
  background-image: url("https://templatemo.com/templates/templatemo_514_magazee/img/image-01.jpg");
  background-size: cover;

  @include desktop {
    grid-area: background-img;
  }
}
