// variables - kintamieji
$primary: rgb(85, 43, 85);
$secondary: cadetblue;
$accent: white;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bg-darker {
  background-color: $primary;
}

// nesting
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  background-color: $accent;
  width: 500px;

  &__image {
    width: 100%;
  }

  &__title {
    letter-spacing: 1px;
  }

  &__description {
    text-align: justify;
  }

  &__price {
    font-weight: bold;
  }

  .button-alignment {
    text-align: right;
  }

  &__btn {
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  &__btn--active {
    background-color: $primary;
    border: 1px solid $primary;
    color: $accent;

    &:hover {
      background-color: $accent;
      border: 1px solid $primary;
      color: $primary;
    }
  }
}
