/* Keyframes */
@keyframes change-background {
  0% {
    background: #69b7eb;
  }
  33% {
    background: #b3dbd3;
  }
  66% {
    background: #f4d6db;
  }
  100% {
    background: #69b7eb;
  }
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  animation: change-background 2s ease infinite;
}

.card {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-color: white;
  overflow-y: scroll;
}

body,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  writing-mode: vertical-rl;
}

p {
  height: 100%;
}
