* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 2px 4px #b1b1b1;
}

.container > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

fieldset {
  margin-bottom: 1rem;
}

legend,
input[type="submit"] {
  background-color: black;
  color: white;
  padding: 1rem;
  width: 300px;
  text-align: center;
}

.input-group {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

label,
input,
select,
.input-group > p,
.input-group > div {
  flex: 1;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  background-color: black;
  border: 3px solid white;
  color: white;
}

input[type="submit"]:hover {
  background-color: white;
  border: 3px solid black;
  color: black;
  cursor: pointer;
}

input[type="submit"]:active {
  box-shadow: 0 2px 4px rgb(59, 59, 59);
}

.thanks-message {
  text-align: center;
  font-size: 2rem;
}
