:root {
  --main-font: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.card {
  padding: 10px;
  height: 250px;
  width: 300px;
  background: rgb(29, 30, 34);
  border-radius: 5px;
  transition: transform 2s;
}

.card:hover {
  transform: scale(1.5);
}

.one {
  transform: translateX(-200px);
  color: rgb(134, 255, 118);
  transition-property: transform;
  transition-duration: 0.5s;
}

.two {
  transform: translateX(300px);
  color: rgb(255, 166, 0);
  transition: transform 0.5s;
}

.three {
  transform: translateY(-250px);
  color: rgb(112, 128, 144);
  transition: transform 0.5s;
}

.card:hover .one,
.card:hover .two,
.card:hover .three {
  transform: translate(0px);
}
